* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.child-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active {
  color: yellow;
}
